<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs') -%>
<body class="bg-light">
    <div class="container mt-5">
        <div class="row">
         
            <div class="col-lg-4 mx-auto mt-3">
                <div class="mb-5">
                     <a href="/" class="d-flex justify-content-center align-items-center  text-dark text-decoration-none">
                        <div class="my-logo fs-3 ">IMS</div>
                    </a>
                </div>
                <div class="card p-3">
                    <div class="text-center">
                          
                        <h3>Login</h3>
                        <form  id="form">
                            <div class="email text-start text-error"></div>
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
                                <label for="floatingInput">Email address</label>
                            </div>

                            <div class="password text-start text-error"></div>
                            <div class="form-floating">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
                                <label for="floatingPassword">Password</label>
                            </div>
                        <hr>
                         <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Sign in</button>

                        </form>
                         <a href="#" class="mt-3">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') -%>
</body>
<script>

    const form = document.querySelector('#form')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        const emailError = document.querySelector('.email.text-error')
        const passwordError = document.querySelector('.password.text-error')

        emailError.textContent = ''
        passwordError.textContent = ''

        const email = form.email.value
        const password = form.password.value

        Array.from(form.elements).forEach(el => el.disabled = true)
        
        try {
            const res = await fetch('/login',{
                method: 'POST',
                body: JSON.stringify({email, password}),
                headers: { 'Content-type': 'application/json' }
            })

            const data = await res.json()

        Array.from(form.elements).forEach(el => el.disabled = false)

            if(data.user) {
                location.assign('/dashboard')
            }

            if(data.errors) {
                emailError.textContent = data.errors.email
                passwordError.textContent = data.errors.password
            }

        } catch (error) {
            console.log(error)
        }
    })
</script>
</html>